<div class="bd">

  <div class="sidebar">
    <ul>
      <li class="sidebar-item" *ngFor="let item of sideBarConfig">
        <a class="sidebar-link"
          [routerLink]="item.routeLink"
          [queryParams]="{title: item.text}" 
          routerLinkActive="active">{{item.text}}</a>
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="title">{{title}}</div>
    <router-outlet></router-outlet>
  </div>

</div>

<!--<h1>组件交流方式测试</h1>
<app-parent></app-parent>-->
<!--<app-other></app-other>

<h1>{{title}}</h1>
<app-article></app-article>
<app-tab></app-tab>

<app-grid>
  <app-grid-row>
    <app-grid-item>
      A
    </app-grid-item>
    <app-grid-item>
      B
    </app-grid-item>
    <app-grid-item>
      C
    </app-grid-item>
  </app-grid-row>
  <app-grid-row>
    <app-grid-item>
      E
    </app-grid-item>
    <app-grid-item>
      D
    </app-grid-item>
  </app-grid-row>
  <app-grid-row>
    <app-grid-item>
      F
    </app-grid-item>
  </app-grid-row>
</app-grid>-->