/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style-type: none;
}

html, body {
    height: 100%;
}

.content .main {
    padding: 20px;
}